.Chat {
    text-align: center;
    max-width: 728px;
    margin: 0 auto;
}

.chat_header {
    background-color: darkgreen;
    height: 5vh;
    min-height: 50px;
    color: white;
    width: 100%;
    max-width: 728px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.chat_header_options {
    float: right;
}

.chat_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    background-color: rgb(40, 37, 53);
}

.mainchatroom {
    padding: 10px;
    height: 60vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.mainchatroom::-webkit-scrollbar {
    width: 0.25rem;
}

.mainchatroom::-webkit-scrollbar-track {
    background: #1e1e24;
}

.mainchatroom::-webkit-scrollbar-thumb {
    background: darkgreen;
}

.chat_message_form {
    height: 5vh;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
}

.chat_message_form button {
    width: 20%;
    background-color: rgb(56, 56, 143);
}


.chat_text_input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(58, 58, 58);
    color: white;
    outline: none;
    border: none;
}

.chat_text_button {
    border: none;
    background-color: darkgreen;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
}

.chat_text_button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #282c34; /* Green */
}

.message {
    display: flex;
    align-items: center;
}

.chat_text {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
}

.sent {
    flex-direction: row-reverse;
}

.sent .chat_text {
    color: black;
    background: lightgreen;
    align-self: flex-end;
}
.received .chat_text {
    background: lightblue;
    color: black;
}

.chat_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
}

.chat_selection_entry {
    height: 100px;
    max-width: 728px;
}

.chat_selection_entry:hover {
    background-color: rgb(97, 94, 94);
}

.chat_selection_link {
    float: left;
}

.chat_select_item {
    display: inline-block;
    color: white;
}

#chat_select_text {
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    width: 500px;
    font-size: large;
}

.chat_select_img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 5px;
}

#chat_rating {
    float: right;
    color: white;
}

.chat_button {
    width: 30px;
    height: 30px;
    padding-top: 2px;
    background-color: rgb(75, 0, 0);
    color: white;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    margin: 2px;
}