<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>API Test</title>
</head>

<body>
	<h1>Neuen Artikel hinzufügen</h1>
	<hr>
	<div>
		<form action="offers/article" method="post" enctype="multipart/form-data">
			<div>
				<label for="name">Überschrift</label>
				<input type="text" id="heading1" placeholder="Ueberschrift"
					value="" name="heading" required>
			</div>
			<div>
				<label for="header">Artikelbeschreibung</label>
				<textarea id="description" name="description" value="" rows="1"
						placeholder="Füge hier eine Beschreibung hinzu!" required>
				</textarea>
			</div>
            <div>
				<label for="price">Preis</label>
				<input type="number" id="price" placeholder="0.00" step="0.01"
					value="" name="price" required>
			</div>
			<div>
				<label for="tags">Tags</label>
				<input type="string" id="tags" placeholder="Tags mit Komma separieren!" value="" name="tags">
			</div>
            <label for="category">Suche eine passende Kategorie</label>
            <select name="category" id="category">
              <option value="household">Haushaltswaren</option>
              <option value="electronics">Elektroartikel</option>
              <option value="antiques">Antiquitäten</option>
              <option value="miscellaneous">Sonstiges</option>
            </select> 
			<div>
				<label for="image">Bild hinzufügen</label>
				<input type="file" id="image" name="image" multiple>
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
	<hr>
	<div>
		<a href="/api/offers/article/findByCategory?categories=household, electronics">
			<button>Suchen</button>
		</a>		 
	</div>
	<hr>
</body>

</html>
